<h3>Ajout d'un produit</h3>
<form [formGroup]="productForm" (ngSubmit)="onSubmitForm()">
    <div>
        <label> Référence du produit </label>
        <input class="form-control" type="number" formControlName="reference">
        <div class="alert alert-danger" *ngIf="refProduct && refProduct.invalid &&
        refProduct.dirty">
            La référence doit être un nombre
        </div>
    </div>
    <div>
        <label>Libellé</label>
        <input class="form-control" type="text" formControlName="libelle">
        <div *ngIf="isValidPattern()" class="alert alert-warning">
            Le libelle doit commencer par une majuscule suivie d'au moins 1 caractère
        </div>
    </div>

    <div>
        <label> Made In </label>
        <label>
            <input type="radio" formControlName="made" value="Tunisie">Tunisie
        </label>
        <label>
            <input type="radio" formControlName="made" value="Autre">Autre
        </label>
    </div>
    <div>
        <label>Catégorie</label>
        <select class="form-select" formControlName="categorie">
            <option *ngFor="let c of lesCategories" [value]="c"> {{c}}</option>
        </select>
    </div>
    <div>
        <label>
            <input type="checkbox" formControlName="nouveau"> Nouveau
        </label>
    </div>

    <input type="submit" value="Ajouter" [disabled]="productForm.invalid">
    <input type="button" (click)="onReset()"value="Vider">

</form>